.login-page-body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.login-first {
    flex: 2;
    background-color: #8538D2;
    position:relative;

}

.login-second {
    flex: 3;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.login-logo-holder {
    background-color: #F9F0FD;
    width: 180px;
    line-height: 28px;
    border-radius: 0 30px 30px 0;
    margin-top: 30px;
    padding: 5px 30px;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.login-logo-text-title {
    color: #F97E0D;
    font-weight: 600;
}

.login-logo-text-subtitle{
    font-size: 1.1em;
    color: #8538D2;
    font-weight: bold;
}

.login-wrapper {
    width: 350px;
    margin-top: 150px;
}

.forgot-password-span{
    font-size: 14px;
    margin-top: 2px;
    text-align: end;
    color: #0371BC;
    cursor: pointer;
}

.login-button{
    width: 100%;
    margin-top: 10px;
    background-color: #F97E0D;
    color: #fff;
    border: 0;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
}
.login-wrapper h1{
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 20px;
    color: #8538D2;
}
.login-wrapper input {
    height: 50px;
    border-width: 3px;
}


.wave {
    overflow:hidden;
    position:absolute;
    height: 100%;
    width: 100px;
    top: 0;
    right: -85px;
}

.wave::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 99px 140%;
    background-position: 0% 50%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.17 35.28" preserveAspectRatio="none"><path d="M1 35.28c.8-3.17-.38-7.3-.55-10.04-.17-2.76 1.47-9.25 1.3-12.68C1.58 9.14.91 7.92.88 5.52.86 3.12 1.76 0 1.76 0H0v35.28z" fill="%238538d2"/></svg>'); 
}
 
.login-mulher-container img {
    width: 400px;
    max-width: 70%;
}

.login-mulher-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media(max-width: 700px) {
    .login-first {
        display: none;
    }
}