.list_page_body {
    width: 100%;
    height: 100%;
}

.list-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-page-title {
    font-weight: bold;
    font-size: 48px;
}

.title-button {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #F97E0D;
    box-shadow: 0 0 13px #999999;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 0px;
    cursor: pointer;
    position: relative;
}

.button-count {
    font-size: 11px;
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 3px 0px;
    border-radius: 50%;
    width: 20px;
    background-color: rgb(210,0,0);
}

.title-button-icon {
    margin-right: 5px;
    font-size: 20px;
}

.list-page-table-line {
    height: 70px;
    transition: all 200ms ease-in;
    border-radius: 8px;
}

.list-page-table-line:hover {
    box-shadow: 0 0 4px 0px #999;
    filter: brightness(95%);
}

.list-table-line-item:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list-table-line-item:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title-button + .title-button {
    margin-left: 10px;
}

.list-table-header-item {
    overflow-wrap: anywhere;
    text-align: start;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
}

.list-table-line-item {
    overflow-wrap: anywhere;
    padding: 10px 20px;
    font-size: 15px;
}

.table-body {
    background-color: white;
    box-shadow: 0 0 13px #999999;
    border-radius: 10px;
}

.table-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px 20px;
    align-items: center;
    border-bottom: 1px solid #aeaeae;
}



.filter-box {
    display: flex;
    margin-top: 20px;
}

.filter-inputs-area {
    display: flex;
    width: 100%;
}

.filter-input {
    margin-right: 10px;
    width: 100%;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #F97E0D;
    font-family: 'Dosis';
}

.filter-input:focus{
    outline: 4px solid rgba(7, 143, 201, 0.4);
}

.filter-searchButton {
    padding: 8px 7px 3px;
    border: 0px;
    border-radius: 6px;
    background-color: #F97E0D;
    color: white;
    font-size: 17px;
    box-shadow: 0 0 13px #999999;
    cursor: pointer;
 }