.side-bar {
    width: 210px;
    display: flex;
    max-width: 210px;
    min-width: 210px;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.5s;
    background-color: #FAF1FE;
}

.side-bar-closed {
    width: 55px;
    max-width: 55px;
    min-width: 55px;
}

.side-bar-closed .side-bar-item-text-content {
    display: none !important;
}

.side-bar-closed .side-bar-item-active {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar-closed .side-bar-item {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar-closed .side-bar-icon {
    margin-right: 0px;
}

.side-bar-image {
    margin: 10px 20px;
    width: calc(100% - 40px);
}

.side-bar-item {
    display: flex;
    padding: 0.6rem 20px;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #6a6a6a;
}

.side-bar-item-active {
    display: flex;
    padding: 0.6rem 20px;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #F97E0D;
    border-right: 5px solid #F97E0D;
}

.side-bar-item:hover {
    color: rgb(167,128,181);
    text-decoration: underline;
}

.side-bar-item-active:hover {
    text-decoration: underline;
}

.side-bar-icon {
    margin-right: 1rem;
}

.side-bar-item-text-content {
    font-weight: 600;
    font-size: 15px;
    transition-duration: 0.5s;
}

.logout-buttom {
    display: flex;
    padding: 0.6rem 20px;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #6a6a6a;
}

.logout-buttom:hover {
    color: #FE9715;
    text-decoration: underline;
}

.side-bar-closed .logout-buttom {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar {
    height: 50px;
    padding: 4px;
    display: flex;
    box-shadow: 3px 0 11px -2px #999999;
    border-bottom: 1px solid #aeaeae;
}

.top-bar-logo {
    cursor: pointer;
    width: 100%;
    padding: 20px 10px 0px;
}

.burguer-button-box {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 47px;
    display: flex;
    font-size: 27px;
    border-radius: 5px;
    color: #6a6a6a;
    cursor: pointer;
    margin: auto 0px;
    font-size: 22px;
}

.burguer-button-box-active {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 47px;
    display: flex;
    font-size: 27px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    background-color: #F97E0D;
    width: 40px;
    height: 40px;
    margin: 7px;
}

.top-bar-logo-closed {
    display: none;
}

.side-bar-logo-container {
    margin-top: 20px; 
    margin-bottom: 10px;
}

.side-bar-logo-container-closed {
    display: flex;
}

.login-logo-holder.sidebar{
    margin-top: 0;
    padding: 0;
    margin-left: 12px;
}

.login-logo-sidebar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 12px;
}

.login-logo-sidebar.closed {
    padding-left: 0;
}