.form_group_phone {
    border-radius: 10px !important;
    border: 1px solid #F97E0D !important;
    font-size: 15px !important;
    width: 100% !important;
}

.is-invalid-field {
    border: 1px solid red !important;
}

.dial-code {
    font-size: 15px;
}

.country-name {
    font-size: 15px;
}

.react-tel-input .country-list {
    max-height: 100px !important;
}