.alerts-container {
    position: relative;
}

.alert {
    position: absolute;
    right: 10px;
    top: 60px;
    max-width: 275px;
    width: auto;
    background-color: white;
    display: flex;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 0 13px #999999;
    z-index: 30;
}

.hidden {
    display: none;
}


.alert-success {
    border: 3px solid #41f73b;
}

.alert-error {
    border: 3px solid #e01616;
}

.alert-body {
    display: flex;
}

.alert-text {
    font-size: 17px;
    font-weight: 600;
}

.close-icon {
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.5;
    font-weight: 700;
}

.close-icon:hover {
    opacity: 1;
}

.success-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #099e04;
    min-width: 20px;
}

.error-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #e01616;
    min-width: 20px;
}