.delete-modal {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 60%;
    max-width: 500px;
    margin: auto;
}

.save-modal-header {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-modal-close-icon {
    cursor: pointer;
    opacity: 0.5;
    font-size: 20px;
    font-weight: 600;
}

.save-modal-close-icon:hover {
    opacity: 1;
}

.save-modal-title {
    font-weight: 600;
}

.save-modal-body {
    width: 100%;
}

.save-modal-footer-button {
    margin-right: 20px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #F97E0D;
    border: 0px;
    padding: 10px;
    min-width: 100px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 13px #999999;
}

.save-modal-footer-button-disabled {
    border: 0px;
    padding: 10px;
    min-width: 100px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #777777;
    background-color: #cccccc;
    cursor: default;
    box-shadow: none;
}

.save-modal-footer-button:last-child {
    margin-right: 0px;
}

.delete_modal_body_label {
    font-size: 18px;
}

.delete-modal-body {
    margin: 10px;
}

.checkbox-container {
    display: flex;
    margin: 5px 0px;
    align-items: center;
    cursor: pointer;
}

.delete-modal-checkbox-label {
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

#remove-modal-checkbox {
    cursor: pointer;  
}

.save-modal-footer-button-disabled:last-child {
    margin-right: 0px;
}

.save-modal-footer {
    margin-top: 10px;
    justify-content: end;
    display: flex;
 }