.calendar-title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.calendar {
    width: 100%;
    padding-bottom: 10px;
}

.calendar-body {
    width: 100%;
}

.calendar-day-box {
    height: 120px;
    background-color: #f8e3ff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
    display: flex;
    padding: 10px 10px 0px;
    transition: all 200ms ease-in;
}


.calendar-day-box:hover {
    filter: brightness(95%);
}

.calendar-weekday-header-item {
    background-color: #f8e3ff;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

.calendar-header {
    justify-content: space-between;
    display: flex;
}

.calendar-header-buttons {
    display: flex;
    align-items: center;
}

.calendar-header-button {
    cursor: pointer;
}

.calendar-header-button:first-child {
    margin-right: 20px;
}

.calendar-day-text {
    font-size: 20px;
    font-weight: bold;
}

.aula-marker {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border-radius: 6px;
    height: 6px;
    overflow: hidden;
}

.aula-marker:hover {
    border-radius: 4px;
    height: 15px;
}

.aula-name {
    display:none;
    color: white;
    font-size: 12px;
    text-align: center;
}
.aula-marker:hover .aula-name{
    display:block;
}

.current-day {
    box-shadow: inset 0 0 4px 0px #999; 
}